body {
    font-size: 16px;
    background-color: #5bc0de;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Header Part */
#header-nav {
    background-color: #337ab7;
    border-radius: 0px;
    border: 0px;
    padding-bottom: 15px;
}

.nav-brand {
    padding-top: 13px;
}

.navbar-brand h1 {
  color: #000000;
  font-weight: bold;
  margin-top: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
  color: #000000;
  text-align: center;
}
#nav-list a:hover {
  background: #fff0dd;
}
#nav-list a span {
  font-size: 1.2em;
}

.navbar-collapse{
  background-color: #f0ad4e;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.container {
  margin: auto;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

#single-menu {
  box-sizing: border-box;
  padding: 1px 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f0e68c;
  background-position: center;
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #header-nav {
    padding-bottom: 0px;
  }
}

